body {
background-color: lightblue;
}
#zpp {
    color: green;
}
#am {
    color: orange;
}
#pics {
    color: red;
}
p {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
